body {
    background-color:black;
    font-family: 'Play', sans-serif;
    color:yellowgreen;
}
.first {
    text-align: center;
}
.two {
    text-align: left;
    text-indent: 3%;
}
.smoke {
    
}